---
const word1 = "Elucidate";
const definition1 =
  "To explain or make clear.";
const word2 = "Indolent";
const definition2 =
  "Lazy or slow-moving.";
const word3 = "Proscribe";
const definition3 = "To forbid or ban. ";
const word4 = "Substrate";
const definition4 =
  "A substance or layer that underlies something.";
---

<section id="current-episode">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-12">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black text-center mb-8"
        >
          Current word list
        </p>
        <div class="bg-accent-50 mb-4">
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word1}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition1}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word2}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition2}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word3}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition3}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word4}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition4}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline"
          width="20em"
          height="20em"
          viewBox="0 0 32 32"
        >
          <style>
            .word {
              font-size: 3px;
              fill: #ff7a00;
              font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
            }
          </style>
          <line
            x1="1"
            y1="2"
            x2="8"
            y2="2"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="7"
            x2="8"
            y2="7"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="12"
            x2="5"
            y2="12"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <path
            d="M 3 15 v 11 h 18 m 8 -8 v -16 h -17"
            stroke="#ff7a00"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"></path>
          <text class="word" x="9" y="7">{word1.toLocaleLowerCase()}</text>
          <text class="word" x="11" y="12">{word2.toLocaleLowerCase()}</text>
          <text class="word" x="11" y="17">{word3.toLocaleLowerCase()}</text>
          <text class="word" x="11" y="22">{word4.toLocaleLowerCase()}</text>
        </svg>
      </div>
      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
        class="md:col-span-2 md:w-3/4 mx-auto"
      >
        <p
          class="text-2xl tracking-tight text-center font-medium text-black mb-4"
        >
          Story
        </p>
        <div x-data="{ id: $id('accordion') }" class="text-gray-500 text-left">
          <p class="mb-4">
The old man sat by the window, his gaze fixed on the fading light. Assiduously, he traced the intricate patterns on the glass, a relic of a bygone era. A soft sigh escaped his lips as his mind wandered, lost in the liminal space between memory and dream.
          </p>
          <div
            @click="setActiveAccordion(id)"
            :class="activeAccordion==id ? 'hidden' : ''"
            class="cursor-pointer text-opacity-70 underline hover:text-accent-900"
          >
            [Continue Reading]
          </div>
          <div x-show="activeAccordion==id" x-collapse="">
            <p>
A dictum echoed in his thoughts, a phrase whispered by a long-lost friend: "Embrace the void, for in the vacuity, true wisdom resides." He closed his eyes, surrendering to the silence. The world outside faded, replaced by the serene emptiness within.
            </p>
            <div
              @click="setActiveAccordion('')"
              :class="activeAccordion==id ? '' : 'hidden'"
              class="cursor-pointer text-opacity-70 underline hover:text-accent-900 mt-4"
            >
              [Hide]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
