---
const word1 = "Arbitrage";
const definition1 =
  "Arbitrage is the simultaneous buying and selling of an asset in different markets to profit from tiny differences in the asset's listed price. It exploits short-lived variations in the price of identical or similar financial instruments in different markets or in different forms.";
const word2 = "Assonance";
const definition2 =
  "Assonance is the repetition of vowel sounds within words or phrases to create a musical or rhythmic effect.";
const word3 = "Cline";
const definition3 = "A cline is a gradual change in a characteristic or trait of a species or population over a geographical area.";
const word4 = "Peripatetic";
const definition4 =
  "Peripatetic means traveling from place to place; nomadic. It can also refer to a follower or disciple of Aristotle, who taught while walking about.";
---

<section id="current-episode">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-12">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black text-center mb-8"
        >
          Current word list
        </p>
        <div class="bg-accent-50 mb-4">
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word1}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition1}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word2}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition2}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word3}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition3}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word4}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition4}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline"
          width="20em"
          height="20em"
          viewBox="0 0 32 32"
        >
          <style>
            .word {
              font-size: 3px;
              fill: #ff7a00;
              font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
            }
          </style>
          <line
            x1="1"
            y1="2"
            x2="8"
            y2="2"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="7"
            x2="8"
            y2="7"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="12"
            x2="5"
            y2="12"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <path
            d="M 3 15 v 11 h 18 m 8 -8 v -16 h -17"
            stroke="#ff7a00"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"></path>
          <text class="word" x="10" y="7">{word1.toLocaleLowerCase()}</text>
          <text class="word" x="9" y="12">{word2.toLocaleLowerCase()}</text>
          <text class="word" x="13" y="17">{word3.toLocaleLowerCase()}</text>
          <text class="word" x="10" y="22">{word4.toLocaleLowerCase()}</text>
        </svg>
      </div>
      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
        class="md:col-span-2 md:w-3/4 mx-auto"
      >
        <p
          class="text-2xl tracking-tight text-center font-medium text-black mb-4"
        >
          Story
        </p>
        <div x-data="{ id: $id('accordion') }" class="text-gray-500 text-left">
          <p class="mb-4">
Elara, a peripatetic arbitrageur, thrived on the subtle shifts in global markets.  Her life was a constant journey, a dance across continents chasing fleeting discrepancies. Today, she was focused on a particular commodity: rare Himalayan blue poppies.  A small village nestled high in the mountains of Nepal cultivated them, their vibrant color highly prized by perfumers.  Elara had discovered a peculiar situation. Due to a local festival and subsequent miscommunication, the poppies were selling for significantly less in the village than they were in the bustling markets of Mumbai.  This was her opportunity.
          </p>
          <div
            @click="setActiveAccordion(id)"
            :class="activeAccordion==id ? 'hidden' : ''"
            class="cursor-pointer text-opacity-70 underline hover:text-accent-900"
          >
            [Continue Reading]
          </div>
          <div x-show="activeAccordion==id" x-collapse="">
            <p class="mb-4">
She chartered a small plane, the drone of its engine a constant companion on her journey.  The assonance of the wind whistling through the struts and the rhythmic thrum of the propeller lulled her into a state of focused calm.  She visualized the transaction, the swift exchange of currency for the precious blooms.  She knew the window for this arbitrage was small.  News of the festival's impact on poppy prices would spread quickly.
            </p>
            <p class="mb-4">
As she descended into the remote village, she observed the cline of the landscape.  The lush green of the lower altitudes gave way to the stark, rocky terrain of the high Himalayas.  The air grew thin, and the sun beat down with an intensity that belied the cool mountain breeze.  She met with the village elder, the transaction proceeding smoothly.  Elara's heart pounded with the thrill of the deal.  She had secured a substantial quantity of the poppies at the lower price.
            </p>
            <p>
Her return to Mumbai was swift.  She contacted her network of buyers, the demand for the blue poppies already high.  Within hours, the poppies were sold, the profit margin substantial.  Elara, the peripatetic arbitrageur, moved on to her next opportunity, the whisper of profit guiding her across the globe.
            </p>
            <div
              @click="setActiveAccordion('')"
              :class="activeAccordion==id ? '' : 'hidden'"
              class="cursor-pointer text-opacity-70 underline hover:text-accent-900 mt-4"
            >
              [Hide]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
