---
const word1 = "Antebellum";
const definition1 =
  "Occurring or existing before a particular war, especially the American Civil War.";
const word2 = "Intimations";
const definition2 =
  "A subtle or indirect hint or suggestion.";
const word3 = "Intrepid";
const definition3 = "Fearless; adventurous (often used for heroic deeds).";
const word4 = "Mea Culpa";
const definition4 =
  "An acknowledgment of one's fault or sin. (Latin for 'my fault')";
---

<section id="current-episode">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-12">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black text-center mb-8"
        >
          Current word list
        </p>
        <div class="bg-accent-50 mb-4">
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word1}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition1}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word2}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition2}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word3}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition3}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word4}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition4}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline"
          width="20em"
          height="20em"
          viewBox="0 0 32 32"
        >
          <style>
            .word {
              font-size: 3px;
              fill: #ff7a00;
              font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
            }
          </style>
          <line
            x1="1"
            y1="2"
            x2="8"
            y2="2"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="7"
            x2="8"
            y2="7"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="12"
            x2="5"
            y2="12"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <path
            d="M 3 15 v 11 h 18 m 8 -8 v -16 h -17"
            stroke="#ff7a00"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"></path>
          <text class="word" x="9" y="7">{word1.toLocaleLowerCase()}</text>
          <text class="word" x="9" y="12">{word2.toLocaleLowerCase()}</text>
          <text class="word" x="11" y="17">{word3.toLocaleLowerCase()}</text>
          <text class="word" x="9" y="22">{word4.toLocaleLowerCase()}</text>
        </svg>
      </div>
      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
        class="md:col-span-2 md:w-3/4 mx-auto"
      >
        <p
          class="text-2xl tracking-tight text-center font-medium text-black mb-4"
        >
          Story
        </p>
        <div x-data="{ id: $id('accordion') }" class="text-gray-500 text-left">
          <p class="mb-4">
The flickering lantern cast long, dancing shadows across the worn floorboards of the antebellum plantation. Eliza, her brow furrowed, traced the intricate patterns with a trembling finger. Intimations of trouble had been swirling around the estate for weeks - whispers on the wind, furtive glances, a growing unease that clung to the humid air like a shroud. 
          </p>
          <div
            @click="setActiveAccordion(id)"
            :class="activeAccordion==id ? 'hidden' : ''"
            class="cursor-pointer text-opacity-70 underline hover:text-accent-900"
          >
            [Continue Reading]
          </div>
          <div x-show="activeAccordion==id" x-collapse="">
          <p class="mb-4">
Her husband, a man of privilege and entitlement, remained oblivious, consumed by his cotton fields and the impending arrival of their first child. Eliza, however, was a woman of quiet strength, born with an intrepid spirit that belied her delicate frame. She sensed the storm brewing, the whispers of discontent that echoed through the slave quarters, the simmering resentment that threatened to boil over.
          </p>
          <p class="mb-4">
One evening, while tending to her husband, a chilling realization dawned upon her. The gentle murmurings she'd dismissed as idle gossip were not mere whispers; they were a warning. Fear, cold and sharp, pierced her heart. She knew she had to act, to find a way to quell the rising tide of unrest before it engulfed them all. 
          </p>
          <p class="mb-4">
The following day, she sought out the oldest and wisest of the slaves, a woman named Mammy. With a heavy heart, Eliza confessed her fears and sought her counsel. Mammy, her eyes filled with a wisdom born of suffering, listened patiently. Then, with a knowing nod, she spoke of the injustices, the broken promises, the simmering anger that had festered for generations. 
          </p>
          <p class="mb-4">
Eliza felt a wave of shame wash over her. How could she, a woman of privilege, have been so blind? She had benefited from a system built on the backs of others, a system that had crushed their spirits and stolen their freedom. A sincere mea culpa trembled on her lips, but the words caught in her throat. 
          </p>
            <p>
Mammy, however, did not need words. She saw the genuine remorse in Eliza's eyes, the flicker of resolve in her gaze. And so, an unlikely alliance was formed, a fragile bond forged between the mistress and the enslaved, a desperate gamble against the encroaching darkness. 
            </p>
            <div
              @click="setActiveAccordion('')"
              :class="activeAccordion==id ? '' : 'hidden'"
              class="cursor-pointer text-opacity-70 underline hover:text-accent-900 mt-4"
            >
              [Hide]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
