---
const word1 = "Bourgeoisie";
const definition1 =
  "This term refers to the social class that owns the means of production (factories, businesses, land) in a capitalist society. They are the wealthy elite who profit from the labor of others.";
const word2 = "Neoconservatism";
const definition2 =
  "This is a political philosophy that emerged in the mid-20th century. It combines traditional conservative values (social order, morality) with a strong emphasis on national security and interventionism in foreign policy.";
const word3 = "Neoliberal";
const definition3 = "This term describes an economic and political philosophy that emphasizes limited government intervention in the economy, deregulation of businesses, privatization of public services, and free trade.";
const word4 = "Proletariat";
const definition4 =
  "This term refers to the working class in a capitalist society. They are the people who sell their labor to earn a living, and do not own the means of production.";
---

<section id="current-episode">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-12">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black text-center mb-8"
        >
          Current word list
        </p>
        <div class="bg-accent-50 mb-4">
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word1}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition1}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word2}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition2}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word3}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition3}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word4}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition4}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline"
          width="20em"
          height="20em"
          viewBox="0 0 32 32"
        >
          <style>
            .word {
              font-size: 3px;
              fill: #ff7a00;
              font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
            }
          </style>
          <line
            x1="1"
            y1="2"
            x2="8"
            y2="2"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="7"
            x2="8"
            y2="7"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="12"
            x2="5"
            y2="12"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <path
            d="M 3 15 v 11 h 18 m 8 -8 v -16 h -17"
            stroke="#ff7a00"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"></path>
          <text class="word" x="8" y="7">{word1.toLocaleLowerCase()}</text>
          <text class="word" x="5" y="12">{word2.toLocaleLowerCase()}</text>
          <text class="word" x="9" y="17">{word3.toLocaleLowerCase()}</text>
          <text class="word" x="9" y="22">{word4.toLocaleLowerCase()}</text>
        </svg>
      </div>
      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
        class="md:col-span-2 md:w-3/4 mx-auto"
      >
        <p
          class="text-2xl tracking-tight text-center font-medium text-black mb-4"
        >
          Story
        </p>
        <div x-data="{ id: $id('accordion') }" class="text-gray-500 text-left">
          <p class="mb-4">
Rain lashed against the grimy factory windows, blurring the neon glow of the "MegaCorp" logo outside. Inside, Amelia, a calloused hand gripping the whirring assembly line tool, dreamt of a life beyond the endless drone of machinery. She belonged to the vast proletariat, their labor fueling the wealth of the elite bourgeoisie who lived in gated communities beyond the smog.
          </p>
          <div
            @click="setActiveAccordion(id)"
            :class="activeAccordion==id ? 'hidden' : ''"
            class="cursor-pointer text-opacity-70 underline hover:text-accent-900"
          >
            [Continue Reading]
          </div>
          <div x-show="activeAccordion==id" x-collapse="">
            <p class="mb-4">
Amelia wasn't alone in her discontent. Whispers of revolution, fueled by the charismatic speeches of a young firebrand named Anya, rippled through the factory floor. Anya preached a socialist utopia, where the means of production belonged to the workers, not the capitalist overlords. Her message resonated deeply with Amelia and many others, tired of barely scraping by while the CEO, a man whose face they'd never seen, lived a life of exorbitant luxury.
            </p>
            <p class="mb-4">
The factory owner, Mr. Thornhill, a staunch neoliberal, believed in the free market and minimal government intervention. He scoffed at Anya's rhetoric, blaming the workers' lack of bootstrapping for their hardships. In his eyes, the factory was a shining example of meritocracy, churning out profits and jobs.
            </p>
            <p class="mb-4">
But the seeds of discontent sprouted further when a new supervisor, a neoconservative named Blake, arrived. Blake implemented stricter regulations, citing security concerns, further squeezing the already strained lives of the workers. This, along with a proposed pay cut to "compete in the global market," ignited a spark.
            </p>
            <p>
One rainy Monday, the factory floor was silent. Machines sat idle. A banner hung across the dusty beams: "Proletariat United: We demand fair wages and a voice!" Mr. Thornhill, red-faced and sputtering, faced a sea of resolute faces. Amelia, standing at the forefront, felt a surge of power. This wasn't just about wages anymore; it was about reclaiming their dignity. The battle lines were drawn, the proletariat versus the privileged few. The future, like the rain outside, remained uncertain, but one thing was clear: the silence of the factory was a roar that couldn't be ignored. 
            </p>
            <div
              @click="setActiveAccordion('')"
              :class="activeAccordion==id ? '' : 'hidden'"
              class="cursor-pointer text-opacity-70 underline hover:text-accent-900 mt-4"
            >
              [Hide]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
