---
const word1 = "Absconds";
const definition1 =
  "To depart secretly and suddenly, typically to escape from custody or avoid arrest.";
const word2 = "Bereft";
const definition2 =
  "Deprived of or lacking (something).";
const word3 = "Fecundity";
const definition3 = "The ability to produce an abundance of offspring or new growth; fertility.";
const word4 = "Latent";
const definition4 =
  "(of an existing but undeveloped feeling, quality, or condition) present but not yet active, developed, or manifest; dormant.";
---

<section id="current-episode">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-12">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black text-center mb-8"
        >
          Current word list
        </p>
        <div class="bg-accent-50 mb-4">
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word1}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition1}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word2}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition2}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word3}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition3}
                </div>
              </div>
            </div>
          </div>
          <div
            x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
            class="relative w-full mx-auto font-normal"
          >
            <div
              x-data="{ id: $id('accordion') }"
              :class="{ 'text-black': activeAccordion==id, 'text-accent-900 hover:text-accent-600': activeAccordion!=id }"
              class="cursor-pointer group text-black"
            >
              <button
                @click="setActiveAccordion(id)"
                class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
              >
                <span>{word4}</span>
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-600 -rotate-[45deg]"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path></svg
                >
              </button>
              <div x-show="activeAccordion==id" x-collapse="">
                <div class="p-4 pt-2 text-accent-600">
                  {definition4}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline"
          width="20em"
          height="20em"
          viewBox="0 0 32 32"
        >
          <style>
            .word {
              font-size: 3px;
              fill: #ff7a00;
              font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
            }
          </style>
          <line
            x1="1"
            y1="2"
            x2="8"
            y2="2"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="7"
            x2="8"
            y2="7"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <line
            x1="1"
            y1="12"
            x2="5"
            y2="12"
            stroke="#ff7a00"
            stroke-width="1.5"
            stroke-linecap="round"></line>
          <path
            d="M 3 15 v 11 h 18 m 8 -8 v -16 h -17"
            stroke="#ff7a00"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"></path>
          <text class="word" x="10" y="7">{word1.toLocaleLowerCase()}</text>
          <text class="word" x="12" y="12">{word2.toLocaleLowerCase()}</text>
          <text class="word" x="10" y="17">{word3.toLocaleLowerCase()}</text>
          <text class="word" x="12" y="22">{word4.toLocaleLowerCase()}</text>
        </svg>
      </div>
      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
        class="md:col-span-2 md:w-3/4 mx-auto"
      >
        <p
          class="text-2xl tracking-tight text-center font-medium text-black mb-4"
        >
          Story
        </p>
        <div x-data="{ id: $id('accordion') }" class="text-gray-500 text-left">
          <p class="mb-4">
The old woman sat on the porch swing, her gaze fixed on the overgrown garden. Weeds choked the once vibrant blooms, a stark contrast to the fecundity she remembered.  Her hands, gnarled with age, trembled as they traced the faded patterns on the worn wood.  A lifetime of memories, now bereft of color, flickered through her mind. 
          </p>
          <div
            @click="setActiveAccordion(id)"
            :class="activeAccordion==id ? 'hidden' : ''"
            class="cursor-pointer text-opacity-70 underline hover:text-accent-900"
          >
            [Continue Reading]
          </div>
          <div x-show="activeAccordion==id" x-collapse="">
            <p class="mb-4">
She remembered the laughter of children, the scent of freshly baked bread, the warmth of her husband's embrace. Now, an eerie silence hung heavy in the air, broken only by the chirping of crickets. He had absconded, leaving her alone with the ghosts of their past. 
            </p>
            <p class="mb-4">
A flicker of anger, long dormant, stirred within her. Where was the man who promised eternal love? The man who swore to cherish her forever? He had vanished, leaving her with a heart bereft of joy and a garden bereft of life. 
            </p>
            <p>
But amidst the weeds, a single rosebud stubbornly pushed its way through the soil. A fragile reminder of the latent beauty that still existed, a testament to the enduring power of life. The old woman smiled, a single tear tracing a path down her weathered cheek. Hope, like the rosebud, was a tenacious thing. It might be hidden, dormant, but it was always there, waiting for the right moment to bloom. 
            </p>
            <div
              @click="setActiveAccordion('')"
              :class="activeAccordion==id ? '' : 'hidden'"
              class="cursor-pointer text-opacity-70 underline hover:text-accent-900 mt-4"
            >
              [Hide]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
